Flask
psycopg2-binary
Flask-JWT-Extended
PyJWT
Flask-Mail
Werkzeug
pytz
gunicorn  # ¡NUEVO y MUY IMPORTANTE!
python-dotenv # Opcional, para cargar variables de entorno localmente
firebase-admin>=6.6.0
flask_executor
APScheduler
curl_cffi>=0.5.10  # <--- AÑADE ESTA LÍNEA AL FINAL