Flask
psycopg2-binary
Flask-JWT-Extended
PyJWT
Flask-Mail
Werkzeug
pytz
gunicorn  # ¡NUEVO y MUY IMPORTANTE!
python-dotenv # Opcional, para cargar variables de entorno localmente
firebase-admin
flask_executor
APScheduler