Flask
psycopg2-binary
Flask-JWT-Extended
PyJWT
Flask-Mail
Werkzeug
pytz
gunicorn  
python-dotenv 
firebase-admin>=6.6.0
flask_executor
APScheduler
curl_cffi>=0.5.10
# ------f1 real time--------
fastf1
flask-socketio
eventlet
pandas
requests
Flask-Cors